// FOOTER::START
footer.footer
  .container
    .row.row--alignCenter
      .col.col--4-6
        .footer__text Company name is an first supplier of very best products across the world
        
        .footer__copywrite
          span All rights reserved 2017 @ Company Name
          a(href="#") Terms & Conditions
          a(href="#") Privacy Policy
          
      .col.col--2-6
        .footer__socials
          a(href="#")
            i.ico.ico-fb
          a(href="#")
            i.ico.ico-tw
          a(href="#")
            i.ico.ico-google
          a(href="#")
            i.ico.ico-insta
              
              
// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/main.js")
//endbuild
