doctype html
html
  include shared/head.pug

  body
    .mobile-menu
      .mobile-menu__menu
        a(href="#section") How it works
        a(href="#section") Features
        a(href="#section") Testimonials
        a(href="#section") About
        a(href="#section") FAQ
        
    .page
      // HEADER
      header.header
        .container
          .row.row--alignCenter.row--jcsb
            .header__logo
              img(src='images/logo-white.png')
            .header__menu
              a(href="#section") How it works
              a(href="#section") Features
              a(href="#section") Testimonials
              a(href="#section") About
              a(href="#section") FAQ
              a(href='#sectionShop').btn.btn--primary Buy Now
            button.hamburger.hamburger--spin(type='button')
              span.hamburger-box
                span.hamburger-inner


          
      .page__content
        // SHOP
        .shop#sectionShop
          .container
            .row
              .col.col--3-6
                // LEFT SECTION (PRODUCTS)
                .shop__title The Best Snoring Solution
                .shop__product
                  .shop__product__tabs-nav
                    .shop__product__tabs-nav__tab(data-product="1").active 
                      a(href="#")
                        img(src="images/product1.jpg")
                        span Mouthpiece for snoring
                    .shop__product__tabs-nav__tab(data-product="2")
                      a(href="#") 
                        img(src="images/product1.jpg")
                        span Chin strap for snoring
                    .shop__product__tabs-nav__tab(data-product="3")
                      a(href="#")
                        img(src="images/product3.jpg")
                        span Combo pack <br> 2 in 1
                  .shop__product__tabs-content
                    // next prodcut
                    .shop__product__tab.active(data-product='1')
                      .shop__product__image
                        img(src="images/product1.jpg")
                      .shop__product__title Mouthpiece for snoring
                      .shop__product__description
                        p The SnoreTek Anti Snoring Chin Strap is a soft comfortable adjustable fabric band which helps keep the mouth closed and forward. This prevents the tongue from dropping back over the airway during sleep, which is the cause of snoring. 

                        p 90 Day Risk Free Return Policy!

                        You must be able to breathe freely through your nose for these applications to have benefit.
                                            
                    // next prodcut
                    .shop__product__tab.active(data-product='2')
                    // next prodcut
                    .shop__product__tab.active(data-product='3')  
  
              .col.col--3-6
                form(action="#").shop__form
                  .shop__form__title <span> $ 9.95 </span> Try it today
                  .shop__form__section
                    .row
                      .col.col--3-6
                        input(type="text" placeholder="First name").ui-input
                      .col.col--3-6
                        input(type="text" placeholder="Last name").ui-input
                    
                    input(type="email" placeholder="Email").ui-input
                    input(type="tel" placeholder="Phone number").ui-input
                  
                  // NEXT SECTION
                  .shop__form__section
                    .shop__form__title.shop__form__title--section Shipping details
                    .ui-select
                      label Select your state
                      .ui-select__drop
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                      // selected value will be passed to this input 
                      input(type="hidden" name="state" value="")
                    
                    .row
                      .col.col--4-6
                        input(type="text" placeholder="City").ui-input
                      .col.col--2-6
                        input(type="text" placeholder="ZIP").ui-input
                        
                    input(type="text" placeholder="Street addres").ui-input
                  
                  // NEXT SECTION
                  .shop__form__section
                    .shop__form__title.shop__form__title--section Payment details
                    input(type="text" name="credit-card" placeholder="Credit card number").ui-input.ui-input--card
                    .row
                      .col.col--4-6
                        .ui-labeled
                          label Expiration
                          .row
                            .col.col--4-6
                              .ui-select
                                label MM
                                .ui-select__drop
                                  span(data-select='January (01)') January (01)
                                  span(data-select='February (02)') February (02)
                                  span(data-select='March (03)') March (03)
                                  span(data-select='April (04)') April (04)
                                  span(data-select='May (05)') May (05)
                                  span(data-select='June (06)') June (06)
                                  span(data-select='July (07)') July (07)
                                  span(data-select='August (08)') August (08)
                                  span(data-select='September (09)') September (09)
                                  span(data-select='October (10)') October (10)
                                  span(data-select='November (11)') November (11)
                                  span(data-select='December (12)') December (12)
                            .col.col--2-4
                              .ui-select
                                label YYYY
                                .ui-select__drop
                                  span(data-select='2017') 2017
                                  span(data-select='2018') 2018
                                  span(data-select='2019') 2019
                                  span(data-select='2020') 2020
                                  span(data-select='2021') 2021
                      .col.col--2-6
                        .ui-labeled
                          label CVC
                          input(type="text" name="cvc" placeholder="XXX").ui-input
                            
                        // selected value will be passed to this input 
                        input(type="hidden" name="state" value="")  
                    
                    
                  .shop__form__cta
                    button(type="submit").btn.btn--cta
                      span Pay <span>$9.95</span>
                    
                    
                          
                      
                    
                  
                  
                
                
        
        // BENEFITS
        .benefits
          .container
            .row
              .col.col--4-6
                .benefits__list
                  .benefits__block
                    .benefits__title 1. Helps Open Mouth Snoring & Dry Mouth
                    .benefits__description This is a simple effective solution for open mouth snoring and problems with dry mouth sleeping. You will be comfortable while wearing the safe noninvasive SnoreTek. 
                  .benefits__block
                    .benefits__title 2. Prevents CPAP Bloating and Dry Mouth (Aerophagia)
                    .benefits__description The SnoreTek by keeping the mouth closed, offers CPAP users a solution to the common stomach bloating problem caused from air being blown into the open mouth. 
                  .benefits__block
                    .benefits__title 3. Improves Snoring Mouthpiece Effectiveness
                    .benefits__description Snoring mouthpieces commonly fall out making them less effective. When worn while sleeping, the SnoreTek can prevent the mouthpiece from falling out and this helps stop snoring.

                
                
      

    include shared/footer.pug
