doctype html
html
  include shared/head.pug

  body
    .mobile-menu
      .mobile-menu__menu
        a(href="#section") How it works
        a(href="#section") Features
        a(href="#section") Testimonials
        a(href="#section") About
        a(href="#section") FAQ
        
    .page
      // HEADER
      header.header
        .container
          .row.row--alignCenter.row--jcsb
            .header__logo
              img(src='images/logo-white.png')
            .header__menu
              a(href="#section") How it works
              a(href="#section") Features
              a(href="#section") Testimonials
              a(href="#section") About
              a(href="#section") FAQ
              a(href='#sectionShop').btn.btn--primary Buy Now
            button.hamburger.hamburger--spin(type='button')
              span.hamburger-box
                span.hamburger-inner


          
      .page__content
        // SHOP
        .shop#sectionShop
          .container
            .row
              .col.col--3-6
                // LEFT SECTION (PRODUCTS)
                .shop__title The Best Snoring Solution
                .shop__product
                  .shop__product__tabs-nav
                    .shop__product__tabs-nav__tab(data-product="1").active 
                      a(href="#")
                        img(src="images/product1.jpg")
                        span Mouthpiece for snoring
                    .shop__product__tabs-nav__tab(data-product="2")
                      a(href="#") 
                        img(src="images/product1.jpg")
                        span Chin strap for snoring
                    .shop__product__tabs-nav__tab(data-product="3")
                      a(href="#")
                        img(src="images/product3.jpg")
                        span Combo pack <br> 2 in 1
                  .shop__product__tabs-content
                    // next prodcut
                    .shop__product__tab.active(data-product='1')
                      .shop__product__image
                        img(src="images/product1.jpg")
                      .shop__product__title Mouthpiece for snoring
                      .shop__product__description
                        p The SnoreTek Anti Snoring Chin Strap is a soft comfortable adjustable fabric band which helps keep the mouth closed and forward. This prevents the tongue from dropping back over the airway during sleep, which is the cause of snoring. 

                        p 90 Day Risk Free Return Policy!

                        You must be able to breathe freely through your nose for these applications to have benefit.
                                            
                    // next prodcut
                    .shop__product__tab.active(data-product='2')
                    // next prodcut
                    .shop__product__tab.active(data-product='3')  
  
              .col.col--3-6
                form(action="#").shop__form
                  .shop__form__title <span> $ 9.95 </span> Try it today
                  .shop__form__section
                    .row
                      .col.col--3-6
                        input(type="text" placeholder="First name").ui-input
                      .col.col--3-6
                        input(type="text" placeholder="Last name").ui-input
                    
                    input(type="email" placeholder="Email").ui-input
                    input(type="tel" placeholder="Phone number").ui-input
                  
                  // NEXT SECTION
                  .shop__form__section
                    .shop__form__title.shop__form__title--section Shipping details
                    .ui-select
                      label Select your state
                      .ui-select__drop
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                        span(data-select='State name') State name
                      // selected value will be passed to this input 
                      input(type="hidden" name="state" value="")
                    
                    .row
                      .col.col--4-6
                        input(type="text" placeholder="City").ui-input
                      .col.col--2-6
                        input(type="text" placeholder="ZIP").ui-input
                        
                    input(type="text" placeholder="Street addres").ui-input
                  
                  // NEXT SECTION
                  .shop__form__section
                    .shop__form__title.shop__form__title--section Payment details
                    input(type="text" name="credit-card" placeholder="Credit card number").ui-input.ui-input--card
                    .row
                      .col.col--4-6
                        .ui-labeled
                          label Expiration
                          .row
                            .col.col--4-6
                              .ui-select
                                label MM
                                .ui-select__drop
                                  span(data-select='January (01)') January (01)
                                  span(data-select='February (02)') February (02)
                                  span(data-select='March (03)') March (03)
                                  span(data-select='April (04)') April (04)
                                  span(data-select='May (05)') May (05)
                                  span(data-select='June (06)') June (06)
                                  span(data-select='July (07)') July (07)
                                  span(data-select='August (08)') August (08)
                                  span(data-select='September (09)') September (09)
                                  span(data-select='October (10)') October (10)
                                  span(data-select='November (11)') November (11)
                                  span(data-select='December (12)') December (12)
                            .col.col--2-4
                              .ui-select
                                label YYYY
                                .ui-select__drop
                                  span(data-select='2017') 2017
                                  span(data-select='2018') 2018
                                  span(data-select='2019') 2019
                                  span(data-select='2020') 2020
                                  span(data-select='2021') 2021
                      .col.col--2-6
                        .ui-labeled
                          label CVC
                          input(type="text" name="cvc" placeholder="XXX").ui-input
                            
                        // selected value will be passed to this input 
                        input(type="hidden" name="state" value="")  
                    
                    
                  .shop__form__cta
                    button(type="submit").btn.btn--cta
                      span Pay <span>$9.95</span>
                    
        // BENEFITS
        .benefits
          .container
            .row
              .col.col--full
                .section-title SnoreTek Features 
            .row
              .col.col--4-6
                .benefits__list
                  .benefits__block
                    .benefits__block__icon
                      i.ico.ico-benefit-1
                    .benefits__block__content
                      .benefits__title Helps Open Mouth Snoring & Dry Mouth
                    .benefits__description This is a simple effective solution for open mouth snoring and problems with dry mouth sleeping. You will be comfortable while wearing the safe noninvasive SnoreTek. 
                  .benefits__block
                    .benefits__block__icon
                      i.ico.ico-benefit-2
                    .benefits__block__content
                      .benefits__title Prevents CPAP Bloating and Dry Mouth
                    .benefits__description The SnoreTek by keeping the mouth closed, offers CPAP users a solution to the common stomach bloating problem caused from air being blown into the open mouth. 
                  .benefits__block
                    .benefits__block__icon
                      i.ico.ico-benefit-3
                    .benefits__block__content
                      .benefits__title Improves Snoring Mouthpiece Effectiveness
                    .benefits__description Snoring mouthpieces commonly fall out making them less effective. When worn while sleeping, the SnoreTek can prevent the mouthpiece from falling out and this helps stop snoring.
              
              .col.col--2-6
                .benefits__image
                  img(src='http://placehold.it/300x450')

        // HOW IT WORKS
        .how-it-works
          .container
            .row
              .col.col--full
                .section-title How it works   
            .row
              .col.col--4-6
                .how-it-works__text
                  h3 Unique Snoring and Sleep Apnea Treatment Combination
                  p Both of these products can help your snoring and sleep problems. Try them to see which offers you the best solution. You can use them in combination for maximum benefit.

                  h3 SnoreTek
                  p The SnoreTek Anti Snoring Chin Strap is a soft comfortable adjustable fabric band which helps keep the mouth closed and prevents it from dropping back over the airway during sleep, which is the cause of snoring. This is a simple effective solution for open mouth snoring and problems with dry mouth sleeping. 
                  p The SnoreTek by holding the mouth closed, offers CPAP users a solution to the common stomach bloating problem caused from air being blown into the open mouth, aerophagia. 
                  p If you snoring mouthpiece falls out while sleeping, the SnoreTek chin strap can help keep the mouthpiece in place. You must be able to breathe freely through your nose for these applications to have benefit with the SnoreTek Band.
              .col.col--2-6
                ul.how-it-works__bullets
                  li
                    span stop snoring
                  li 
                    span hold your mouth closed to stop snoring
                  li
                    span hold your lower jaw forward to stop snoring
                  li
                    span stop snoring
                  li
                    span hold your mouth closed to stop snoring
    
        // TESTIMONAILS
        .testimonials
          .container
            .row
              .col.col--full
                .section-title Testimonials
            .row
              .col.col--full
                .owl-carousel#owlTestimonials
                  // slide
                  .testimonials__slide
                    .testimonials__card
                      .testimonials__card__image
                        img(src="http://placehold.it/100x100")
                      .testimonials__card__content
                        .testimonials__card__name Bill Gates
                        .testimonials__card__text 
                          p Just what I need! This is the best solution that I ever found for my snoring problems. My snoring stopped overnight when I started using the neoprene strap. My wife and I can sleep more soundly at night as she claims that my snoring used to keep her up. It's also very easy to use, I just snap it around my chin and I can say goodbye to my snoring faster than I can say goodnight. It really works well.
                  // slide
                  .testimonials__slide
                    .testimonials__card
                      .testimonials__card__image
                        img(src="http://placehold.it/100x100")
                      .testimonials__card__content
                        .testimonials__card__name Bill Gates
                        .testimonials__card__text 
                          p My wife says it works great. Comfortable to wear. Tried other devices and they did not work. This one really works.
                  // slide
                  .testimonials__slide
                    .testimonials__card
                      .testimonials__card__image
                        img(src="http://placehold.it/100x100")
                      .testimonials__card__content
                        .testimonials__card__name Bill Gates
                        .testimonials__card__text 
                          p Just what I need! This is the best solution that I ever found for my snoring problems. My snoring stopped overnight when I started using the neoprene strap. My wife and I can sleep more soundly at night as she claims that my snoring used to keep her up. It's also very easy to use, I just snap it around my chin and I can say goodbye to my snoring faster than I can say goodnight. It really works well.
                  // slide
                  .testimonials__slide
                    .testimonials__card
                      .testimonials__card__image
                        img(src="http://placehold.it/100x100")
                      .testimonials__card__content
                        .testimonials__card__name Bill Gates
                        .testimonials__card__text 
                          p My wife says it works great. Comfortable to wear. Tried other devices and they did not work. This one really works.
                                                                        
    include shared/footer.pug
